body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
  /* Created with https://www.css-gradient.com */
background: #8AE069;
background: -webkit-linear-gradient(to left, #8AE069, #74B6F7);
background: -moz-linear-gradient(to left, #8AE069, #74B6F7);
background: linear-gradient(to left, #8AE069, #74B6F7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

